/* a,a:active,
a:visited,
a:hover {  color: black;
  font-weight: 400;
  text-decoration: none;
} */


/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
 
}

.wordart {
  font-size: 2em;
  font-family: Impact, sans-serif;
  position: relative;
  display: inline-block;
  margin: 0 0 2rem;
  padding: 2rem;
  background: linear-gradient(to bottom left, #fee601, #fee601 15%, #fe4201);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
  text-transform: uppercase;
  transform: scaleY(1.5) skewY(-8deg) rotateZ(-3deg) translateZ(0);
  text-shadow: 1px 0 0 #813300, 0 1px 0 #c14d00, 2px 1px 0.35px #813300, 1px 2px 0.35px #c14d00, 3px 2px 0.35px #813300, 2px 3px 0.35px #c14d00, 4px 3px 0.35px #813300, 3px 4px 0.35px #c14d00, 5px 4px 0.35px #813300, 4px 5px 0.35px #c14d00, 6px 5px 0.35px #813300, 5px 6px 0.35px #c14d00, 7px 6px 0.35px #813300, 6px 7px 0.35px #c14d00;

}

/* on hover change color */
.wordart:hover {
  background: linear-gradient(to bottom left, #fe4201, #fe4201 15%, #fee601);
}

body {
  padding: 0;
  margin: 0; 
  color: whitesmoke;
  scrollbar-3dlight-color:#2a2680;
  scrollbar-arrow-color:#ffff00;
  scrollbar-base-color:#7F7F7F;
  scrollbar-track-color:7e00ff;
  scrollbar-darkshadow-color:#2a2680;
  scrollbar-face-color:#7e73ff;
  scrollbar-highlight-color:2a2680;
  scrollbar-shadow-color:#000000;
}