/* a,a:active,
a:visited,
a:hover {  color: black;
  font-weight: 400;
  text-decoration: none;
} */


/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
 
}

body {
  padding: 0;
  margin: 0; 
}
